@font-face {
    font-family: UniNeuRegular;
    src: url("../fonts/unineue-regular.otf") format("opentype");
}

@font-face {
    font-family: UniNeuBold;
    src: url("../fonts/unineue-bold.otf") format("opentype");
}

@font-face {
    font-family: UniNeuBlack;
    src: url("../fonts/unineue-black.otf") format("opentype");
}

@font-face {
    font-family: UniNeuBook;
    src: url("../fonts/unineue-book.otf") format("opentype");
}

@font-face {
    font-family: UniNeuHeavy;
    src: url("../fonts/unineue-heavy.otf") format("opentype");
}

@font-face {
    font-family: UniNeuLight;
    src: url("../fonts/unineue-light.otf") format("opentype");
}

